.Weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.wi {
   font-size: 3rem;
   color: white;
}

.Location-title {
    color: yellow;
}